{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Editar pedido</h1>

    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            {% block errors %} {% set form = edit_form %}{{ parent() }} {% endblock %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" style="margin-top:20px">
                        <label for="estado">Estado</label>
                        {{form_widget(edit_form.estado)}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="fechaEntrega">Fecha de entrega</label>
                        {{form_widget(edit_form.fechaEntrega)}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="tipoEnvio">Forma Envío</label>
                        {{form_widget(edit_form.formaEnvio)}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        {{form_widget(edit_form.descripcion)}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="descuento">Descuento</label>
                        {{form_widget(edit_form.descuento)}}
                    </div>
                </div>
            </div>
            <h4>Productos</h4>
            <hr>
            <table class="table table-striped">
                <thead>
                <th>Producto</th>
                <th>Cantidad Pedida</th>
                <th>Inventario</th>
                </thead>
                <tbody>
                    {% for producto in pedido.productoCliente %}
                        <tr>
                            <td>{{producto.producto.nombre}}</td>
                            <td>{{producto.cantidad}}</td>
                            <td>{{producto.producto.cantidadEnInventario}}</td>
                            <td><a href="{{ path('pedido_edit_prod', { 'id': pedido.id, 'id_producto': producto.id }) }}" class="btn btn-danger">eliminar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Edit" class="btn btn-success" style="margin-top:20px"/>

            {{ form_end(edit_form)}}

            <a href="{{ path('pedido_index') }}" class="pull-right btn btn-warning"style="margin-top:20px">Regresar al listado</a>
        </div>
        <div class="col-md-2"></div>
    </div>

    {#<ul class="pull-right">
      <li class="pull-right" style="margin-right:40px">
        {{ form_start(delete_form) }}
        <input type="submit" value="Borrar" class="btn btn-danger">
        {{ form_end(delete_form) }}
      </li>
      <li class="pull-right">
        <a class="btn btn-info"href="{{ path('pedido_index') }}">Regresar al listado</a>
      </li>
    
    </ul>#}
{% endblock %}
