{% extends 'base.html.twig' %}

{% block body %}
    <h3>Listado pedidos</h3>
    <div class="btn-group" role="group" style="margin-bottom: 20px">
        <a href="{{ path('pedido_new') }}" class="btn btn-info">Nuevo pedido</a>
        <a href="{{ path('cotizacion_new') }}" class="btn btn-warning">Cotizacion</a>
    </div>
    <table class="table table-bordered table-striped data-table">
        <thead>
        <tr>
            <th>Folio</th>
            <th>Cliente</th>
            {#<th>Cantidad Pedida</th>#}
            <th>Productos</th>
            <th>Inventario</th>
            <th>Fecha entrega</th>
            <th>Descripcion</th>
            <th>Descuento</th>
            <th>Forma Envío</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for pedido in pagination %}
            <tr>
                <td><a href="{{ path('pedido_show', { 'id': pedido.id }) }}">{{ pedido.folio }}</a></td>
                <td>
                    {{ pedido.cliente }}
                </td>
                <td>
                    {% for producto in pedido.productoCliente %}
                        -{{ producto.producto }}<span class="label label-success">{{ producto.cantidad }}</span><br><br>
                    {% endfor %}
                </td>
                <td>
                    {% for producto in pedido.productoCliente %}
                        -{{ producto.producto }}<span class="label label-danger">{{ producto.producto.cantidadEnInventario }}</span><br><br>
                    {% endfor %}
                </td>

                <td>{% if pedido.fechaEntrega %}{{ pedido.fechaEntrega|date('Y-m-d') }}{% endif %}</td>
                <td>
                    {{ pedido.descripcion }}
                </td>
                <td>
                    {% if pedido.descuento == "" %}
                        0
                    {% else %}
                        {{ pedido.descuento }}
                    {% endif %}
                </td>
                <td>
                    {{ pedido.formaEnvio }}
                </td>
                <td>
                    {{ pedido.estado }}
                </td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Acciones <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('pedido_edit', { 'id': pedido.id }) }}">editar</a>
                            </li>
                            <li>
                                <a href="{{ path('pedido_show', { 'id': pedido.id }) }}">mostrar</a>
                            </li>
                            <li>
                                <a href="{{ path('ordenproduccion_new',{ 'id_pedido': pedido.id }) }}">orden prod</a>
                            </li>
                            <li>
                                <a href="#">entregar pedido</a>
                            </li>
                            <li>
                                <a  href="{{ path('factura_pedido',{ 'idPedido': pedido.id }) }}">ver facturas</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {#<ul>
        <li>
            <a href="{{ path('pedido_new') }}" class="btn btn-info">Nuevo pedido</a>
        </li>
    </ul>#}
{% endblock %}
