{% extends 'base.html.twig' %}
{% block stylesheets %}
    <script type="text/javascript">
        var $collectionHolder;
        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link btn btn-info">Agregar producto</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        jQuery(document).ready(function () {
            $('#reconverpackbundle_pedido').addClass('hide');

            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.tags');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
            function addTagForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li style="margin-top:15px"></li>').append(newForm);
                $newLinkLi.before($newFormLi);
            }
        });
    </script>
{% endblock %}
{% block body %}
    <h2 class="text-center">Nuevo pedido</h2>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            <div class="row">
                <div class="col-sm-4">
                    <label for="cantidad">Fecha entrega</label>
                    <div class="form-group">
                        {{form_widget(form.fechaEntrega)}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="estado">Cliente</label>
                    <div class="form-group">
                        {{form_widget(form.cliente)}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="estado">Forma Envio</label>
                    <div class="form-group">
                        {{form_widget(form.formaEnvio)}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="cantidad">Descripcion</label>
                    <div class="form-group">
                        {{form_widget(form.descripcion)}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="cantidad">Descuento</label>
                    <div class="form-group">
                        {{form_widget(form.descuento)}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="producto">Producto Cliente</label>
                    <ul class="tags" data-prototype="{{ form_widget(form.productoCliente.vars.prototype)|e('html_attr') }}">
                        {{ form_widget(form.productoCliente.vars.prototype.cantidad)|e }}
                        {{ form_widget(form.productoCliente.vars.prototype.producto)|e }}
                    </ul>
                </div>
            </div>


            {{ form_widget(form) }}
            <button class="btn btn-success" style="margin-top:20px">Guardar</button>
            {{ form_end(form) }}

            <ul class="pull-right">
                <li>
                    <a href="{{ path('pedido_index') }}" class="pull-right btn btn-warning" style="margin-top:20px">Regresar al listado</a>
                </li>
            </ul>
        </div>

    </div>
{% endblock %}
