{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="text-center">Pedido</h1>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 well">
            <div class="row">
                <div class="col-sm-4">
                    <label>Folio del pedido:</label>
                    <span>{{pedido.folio}}</span>
                </div>
                <div class="col-sm-4">
                    <label>Fecha del pedido:</label>
                    <span>{{ pedido.fechaRegistro|date('Y-m-d') }}</span>
                </div>
                <div class="col-sm-4">
                    <label>Fecha de entrega:</label>
                    {% if pedido.fechaEntrega %}
                        <span>{{pedido.fechaEntrega|date('Y-m-d')}}</span>
                    {% else %}
                        <span>{{ pedido.estado }}</span>
                    {% endif%}  
                </div>
            </div>
                
                <div class="row">
                <div class="col-sm-4">
                    <label>Descripcion:</label>
                    <span>{{pedido.descripcion}}</span>
                </div>
                <div class="col-sm-4">
                    <label>Forma Envío:</label>
                    <span>{{ pedido.formaEnvio}}</span>
                </div>
                <div class="col-sm-4">
                    <label>Descuento:</label>
                        <span>{{ pedido.descuento}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label>Estado:</label>
                    <span>{{pedido.estado}}</span>
                </div>
                <div class="col-sm-4">
                    <label>Fecha terminado:</label>
                    {% if pedido.fechaTerminadoProduccion %}
                        <span>{{ pedido.fechaTerminadoProduccion|date('Y-m-d') }}</span>
                    {% else %}
                        <span>{{ pedido.estado }}</span>
                    {% endif%}
                </div>
                <div class="col-sm-4">
                    <label>Fecha de envio:</label>
                    {% if pedido.fechaEnvio %}
                        <span>{{ pedido.fechaEnvio|date('Y-m-d')}}</span>
                    {% else %}
                        <span>{{ pedido.estado }}</span>
                    {% endif%}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label>Cliente:</label>
                    {{pedido.cliente}}
                </div>
                <div class="col-sm-4">
                    <label>Dirección:</label>
                    {{pedido.cliente.direccion}}
                </div>
                <div class="col-sm-4">
                    <label>Teléfono:</label>
                    {{pedido.cliente.telefono}}
                </div>
            </div>
            <h4>Productos</h4>
            <hr>
            <table class="table table-striped">
                <thead>
                <th>Producto</th>
                <th>Cantidad Pedida</th>
                <th>Inventario</th>
                </thead>
                <tbody>
                    {% for producto in pedido.productoCliente %}
                        <tr>
                            <td>{{producto.producto.nombre}}</td>
                            <td>{{producto.cantidad}}</td>
                            <td>{{producto.producto.cantidadEnInventario}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pull- left btn-group" role="group" style="margin-top: 20px">
                <a href="{{ path('pedido_edit', { 'id': pedido.id }) }}" class="btn btn-success">Editar</a>
                <a href="{{ path('ordenproduccion_new',{ 'id_pedido': pedido.id }) }}" class="btn btn-danger">Orden prod.</a>
            </div>
            <a href="{{ path('pedido_index') }}" class="pull-right btn btn-warning"style="margin-top:20px">Regresar al listado</a>  
        </div>

    </div>
    <div class="col-md-1"></div>
</div>
{#
<ul>
    <li>
        <a href="{{ path('pedido_index') }}">Back to the list</a>
    </li>
    <li>
        <a href="{{ path('pedido_edit', { 'id': pedido.id }) }}">Edit</a>
    </li>
    <li>
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </li>
</ul>#}
{% endblock %}
