{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clientes</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Razon social</th>
                <th>Rfc</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Productos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'id': cliente.id }) }}">{{ cliente.id }}</a></td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.razonSocial }}</td>
                <td>{{ cliente.rFC }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>
                  {% for producto in cliente.productos %}
                      {{producto}},
                  {% endfor %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-danger btn-xs" href="{{ path('cliente_edit', { 'id': cliente.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cliente_new') }}"class="btn btn-info">Nuevo cliente</a>
        </li>
    </ul>
{% endblock %}
