{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Cliente</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row well">
                <div class="col-md-3">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.razonSocial) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.rFC) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.telefono) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.direccion) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.productos) }}
                </div>
                <input type="submit" value="Guardar" style="margin-top:20px"
                       class="btn btn-success"/>
                <a href="{{ path('cliente_index') }}" style="margin-top:20px"
                   class="btn btn-warning pull-right">Regresar al listado</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    {{ form_widget(form) }}

    {{ form_end(form) }}

    <ul>
        <li>
        </li>
    </ul>
{% endblock %}
