<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Reconverpak!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/bootstrap/bootstrap.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/custom_bootstrap.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/style.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/js/chosen/chosen.css') }}"/>
        <link rel="stylesheet" type="text/css"
              href="{{ asset('bundles/vendors/data_table/media/css/dataTables.bootstrap.min.css') }}"/>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/bootstrap/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/tablesorter/jquery.tablesorter.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/chosen/chosen.jquery.js') }}"></script>
        <script type="text/javascript"
        src="{{ asset('bundles/vendors/data_table/media/js/jquery.dataTables.min.js') }}"></script>
        <script type="text/javascript"
        src="{{ asset('bundles/vendors/data_table/media/js/dataTables.bootstrap.min.js') }}"></script>
        <!--jquery ui-->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('table').addClass('tableSorter');
                $('select').addClass('chosen-select');
                $(".tableSorter").tablesorter();
                $(".chosen-select").chosen()
                $('.data-table').DataTable({
                    language: {
                        search: "Buscar",
                        info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                        lengthMenu: "Mostrar _MENU_ registros",
                        paginate: {
                            first: "Primero",
                            previous: "Anterior",
                            next: "Siguiente",
                            last: "Ultimo"
                        }
                    }
                });
            }
            );

            $(function () {
                $('input[type="text"],input[type="number"],textarea,select').addClass('form-control');

            })
        </script>
    {% block stylesheets %}{% endblock %}

</head>
<body>
    {% if app.user %}
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">ADMIN</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('pedido_index') }}">Pedidos</a></li>
                        <li><a href="{{ path('ordenproduccion_index') }}">Orden Producción</a></li>
                        <li><a href="{{ path('merma_index') }}">Merma</a></li>
                        <li><a href="{{ path('factura_index') }}">Facturas</a></li>
                        <li><a href="{{ path('cliente_index') }}">Clientes</a></li>
                            {#<li><a href="{{ path('cotizacion_index')}}">Cotizacion</a></li>#}
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                Almacen <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('insumos_index') }}">Insumos</a></li>
                                <li><a href="{{ path('materiales_index') }}">Materia Prima</a></li>
                                <li><a href="{{ path('laminado_index') }}">Laminado</a></li>
                                <li><a href="{{ path('lote_index') }}">Lote</a></li>
                                <li><a href="{{ path('bobina_index') }}">Bobinas </a></li>
                                <li><a href="{{ path('producto_index') }}">Productos</a></li>
                                <li><a href="{{ path('precioprodcliente_index') }}">Precio Producto</a></li>
                                <li><a href="{{ path('categoria_index') }}">Categorias</a></li>
                                    {#<li><a href="{{ path('subcategoria_index')}}">SubCategorias</a></li>#}
                            </ul>
                        </li>
                        <!--asi se restringen las url x rol-->
                        {% if is_granted('ROLE_ADMIN') %}
                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    ACL usuario <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/admin/usuarios">Listado Usuarios</a></li>
                                    <li><a href="/admin/grupos">Listado Grupos</a></li>
                                    <li><a href="/admin/roles">Listado Roles</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Salir</a>
                        </li>

                    </ul>


                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endif %}

    <div class="container-fluid">
        {% block body %}
            {% block errors %}
                {% if not form.vars.valid %}
                    <div class="row alert alert-danger alertalert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <ul>
                            {# Loop through every form item #}
                            {% for child in form.children %}
                                {# Display the errors of the form item #}
                                {%for error in child.vars.errors%}
                                    <li>{{child.vars.name |capitalize}}: {{error.message}}</li>
                                    {%endfor%}
                                {%endfor%}
                        </ul>
                    </div>
                {% endif%}
            {% endblock%}
            {#% block test %} {{name|default('value')}} {% endblock%#}
        {% endblock %}
    </div>
{% block javascripts %}{% endblock %}
</body>
</html>
