<h3 style="text-align: center">Cotizaci&oacute;n de precios de productos</h3>
<p><b>Nombre:</b> {{ cotizacion.nombreCliente }}</p>
<p><b>email:</b> {{ cotizacion.emailCliente }}</p>
<p><b>Tel&eacute;fono:</b> {{ cotizacion.telefonoCliente }}</p>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<table>
    <thead>
    <th>Producto</th>
    <th>Precio</th>
    </thead>
    <tbody>
    {% for producto in cotizacion.producto %}
        <tr>
            <td>{{ producto.producto }}</td>
            <td>{{ producto.producto.precio }}</td>
            <td>{{ producto.cantidad }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if cotizacion.descuento %}
    <p><b>Desc:</b> {{ cotizacion.descuento }}%</p>
{% endif %}
{% if cotizacion.observacionGeneral %}
    <p><b>Observaciones:</b> {{ cotizacion.observacionGeneral }}</p>
{% endif %}
<p><b>Total:</b> {{ cotizacion.total }}</p>