Estimado {{ cliente }}:

Este correo le ha llegado dado que ha solicitado una cotización de nuestros productos la cual adjuntamos cordialmente en espera que sea de su agrado.

Atte. Dpto de ventas Reconverpack