{% extends 'base.html.twig' %}

{% block body %}
<h2>Productos mas vendidos</h2>
<table class="table table-bordered">
  <thead>
    <th>Nombre</th>
    <th>clave</th>
    <th>subcategoria</th>
  </thead>
  <tbody>
    <!-- {% for producto in productos %}
      <tr>
        <td>{{producto.nombre}}</td>
        <td>{{producto.clave}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.subcategoria}}</td>
      </tr>
    {% endfor %} -->
  </tbody>
</table>
{% endblock %}
