{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Editar Laminado </h1>

    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            {% block errors %} {% set form = edit_form %}{{ parent() }} {% endblock %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Bobina</label><br>
                        {{ form_widget(edit_form.bobina) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Color</label><br>
                        {{ form_widget(edit_form.color) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Cant. Hojas</label><br>
                        {{ form_widget(edit_form.cantidadHojas) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Puntos hoja</label><br>
                        {{ form_widget(edit_form.puntosHoja) }}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="">Observaciones</label><br>
                        {{ form_widget(edit_form.observacion) }}
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Editar" style="margin-top:20px" />
            {{ form_end(edit_form) }}
            <a href="{{ path('laminado_index') }}"class="pull-right btn btn-warning" style="margin-top:20px">Regresar al listado</a>
        </div>
        <div class="col-md-2"></div>
    </div>

    {#{ form_start(delete_form) }}
        <input type="submit" value="Delete">
    {{ form_end(delete_form) }#}

{% endblock %}
