{% extends 'base.html.twig' %}

{% block body %}
    <h3>Listado laminados</h3>

    <div>
       <a class="btn btn-info" href="{{ path('laminado_new') }}" style="margin-bottom: 20px">Nuevo laminado</a> 
    </div>
    <table class="table table-bordered table-striped data-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Bobina</th>
                <th>Color</th>
                <th>Cantidad hojas</th>
                <th>Puntos hoja</th>
                <th>Observación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for laminado in pagination %}
            <tr>
                <td><a href="{{ path('laminado_show', { 'id': laminado.id }) }}">{{ laminado.id }}</a></td>
                <td><a href="{{ path('bobina_show', { 'id': laminado.bobina.id }) }}">{{ laminado.bobina }}</a></td>
                <td>{{ laminado.color }}</td>
                <td>{{ laminado.cantidadHojas }}</td>
                <td>{{ laminado.puntosHoja }}</td>
                <td>{{ laminado.observacion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('laminado_edit', { 'id': laminado.id }) }}" class="btn btn-danger btn-xs">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
