{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Laminado nuevo</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            {% block errors %} {{ parent() }} {% endblock %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Bobina</label><br>
                        {{ form_widget(form.bobina) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Color</label><br>
                        {{ form_widget(form.color) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Cant. Hojas</label><br>
                        {{ form_widget(form.cantidadHojas) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Puntos hoja</label><br>
                        {{ form_widget(form.puntosHoja) }}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="">Observaciones</label><br>
                        {{ form_widget(form.observacion) }}
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Guardar"style="margin-top:20px"  />
            <a href="{{ path('laminado_index') }}" class="pull-right btn btn-warning" style="margin-top: 20px;">Regresar al listado</a>
        </div>

    </div>
    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock %}
