{% extends 'base.html.twig' %}

{% block body %}
    <h1>Laminado</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ laminado.id }}</td>
            </tr>
            <tr>
                <th>Numhojas</th>
                <td>{{ laminado.numHojas }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ laminado.color }}</td>
            </tr>
            <tr>
                <th>Cantidadhojas</th>
                <td>{{ laminado.cantidadHojas }}</td>
            </tr>
            <tr>
                <th>Puntoshoja</th>
                <td>{{ laminado.puntosHoja }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ laminado.observacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('laminado_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('laminado_edit', { 'id': laminado.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
