{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subcategorias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subCategorium in subCategorias %}
            <tr>
                <td><a href="{{ path('subcategoria_show', { 'id': subCategorium.id }) }}">{{ subCategorium.id }}</a></td>
                <td>{{ subCategorium.nombre }}</td>
                <td>{{ subCategorium.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('subcategoria_show', { 'id': subCategorium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('subcategoria_edit', { 'id': subCategorium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subcategoria_new') }}">Create a new subCategorium</a>
        </li>
    </ul>
{% endblock %}
