{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Editar Categoria</h1>

    {{ form_start(edit_form) }}
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            {% block errors %} {% set form = edit_form %}{{ parent() }} {% endblock %}
            <div class="row">
                <div class="col-md-4">
                    <label for="">Nombre</label><br>
                    {{ form_widget(edit_form.nombre) }}
                </div> 
            </div>
            <input type="submit" class="btn btn-success" value="Editar" style="margin-top:20px" />
            {{ form_end(edit_form) }}
            <a href="{{ path('categoria_index') }}"class="pull-right btn btn-warning" style="margin-top:20px">Regresar al listado</a>
        </div>
        <div class="col-md-2"></div>
    </div>

    {#{ form_start(delete_form) }}
        <input type="submit" value="Delete">
    {{ form_end(delete_form) }#}
{% endblock %}
