{% extends 'base.html.twig' %}

{% block body %}
    <h3>Listado categorias</h3>

    <div>
        <a class="btn btn-info"href="{{ path('categoria_new') }}" style="margin-bottom: 20px;">Nueva categoria</a>
    </div>
    <table class="table table-striped table-bordered data-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in pagination %}
                <tr>
                    {#<td><a href="{{ path('categoria_show', { 'id': categorium.id }) }}">{{ categorium.id }}</a></td>#}
                    <td>{{ categoria.nombre }}</td>
                    <td>
                        <ul>
                            <li>
                                <a class="btn btn-danger btn-xs"href="{{ path('categoria_edit', { 'id': categoria.id }) }}">Editar</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
