{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Nueva Categoria</h2>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            {% block errors %} {{ parent() }} {% endblock %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Nombre</label><br>
                        {{ form_widget(form.nombre) }}
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Guardar"style="margin-top:20px"  />
            <a href="{{ path('categoria_index') }}" class="pull-right btn btn-warning" style="margin-top: 20px;">Regresar al listado</a>
        </div>

    </div>
    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock %}
