{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Editar producto</h1>

    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            {% block errors %} {% set form = edit_form %}{{ parent() }} {% endblock %}
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(edit_form.cantidadEnInventario) }}
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    {{ form_row(edit_form.precio) }}
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Editar" style="margin-top:20px" />
            {{ form_end(edit_form) }}
            {#{ form_start(delete_form) }}
            <input type="submit" value="Borrar"  class="pull-right btn btn-danger" style="margin-left:20px">
            {{ form_end(delete_form) }#}
            <a href="{{ path('producto_index') }}" class="pull-right btn btn-warning" style="margin-top:20px">Regresar al listado</a>

        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
