{% extends 'base.html.twig' %}

{% block body %}
    <h3>Listado productos</h3>
        <div>
            <a href="{{ path('producto_new') }}" class="btn btn-info" style="margin-bottom: 20px">Nuevo producto</a>
        </div>
    <table class="table table-bordered table-striped data-table">
        <thead>
            <tr>
                <th>Clave</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Cantidad Inventario</th>
                <th>Medida</th>
                <th>Fecha alta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in pagination %}
            <tr>
                <td><a href="{{ path('producto_show', { 'id': producto.id }) }}">{{ producto.clave }}</a></td>
                <td>{{ producto.nombre }}</td>
                <td>${{ producto.precio }}</td>
                <td>{{ producto.categoria }}</td>
                <td>{{ producto.cantidadEnInventario }}</td>
                <td>{{ producto.medida }}</td>
                <td>{% if producto.fechaAlta %}{{ producto.fechaAlta|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('producto_edit', { 'id': producto.id }) }}" class="btn btn-danger btn-xs">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
