{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Nuevo Producto</h2>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            {% block errors %} {{ parent() }} {% endblock %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.nombre) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Categoría</label><br>
                        {{ form_widget(form.categoria) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.fechaAlta) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.cantidadEnInventario) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.medida) }}
                    </div>
                </div>
            </div>
            <div class="row">   
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Cant. Capas</label><br>
                        {{ form_widget(form.cantidadCapas) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Color</label><br>
                        {{ form_widget(form.color) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Precio</label><br>
                        {{ form_widget(form.precio) }}
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Guardar"style="margin-top:20px"  />
            <a href="{{ path('producto_index') }}" class="pull-right btn btn-warning" style="margin-top:20px">Regresar al listado</a>

        </div>
        <div class="col-md-2"></div>
    </div>
    {{ form_end(form) }}
{% endblock %}
