{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Producto</h1>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 well">
            <div class="row">
                <div class="col-sm-4">
                    <label>Nombre:</label>
                    <span>{{ producto.nombre }}</span>
                </div>
                <div class="col-sm-4">
                    <label>Clave:</label>
                    <span>{{ producto.clave }}</span>
                </div>
                <div class="col-sm-4">
                    <label>Categoria:</label>
                    <span>{{ producto.categoria}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Fecha de alta:</label>
                    {% if producto.fechaAlta %}
                        <span>{{ producto.fechaAlta|date('Y-m-d')}}</span>
                    {% else %}
                        <span>NA</span>
                    {% endif%}
                </div>
                <div class="col-sm-4">
                    <label>Medida:</label>
                    <span>{{ producto.medida }}</span>
                </div>
                <div class="col-sm-4">
                    <label>Cantidad en inventario:</label>
                    <span>{{ producto.cantidadEnInventario}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Cantidad de capas:</label>
                    <span>{{ producto.cantidadCapas}}</span>

                </div>
                <div class="col-sm-4">
                    <label>Color:</label>
                    <span>{{ producto.color }}</span>
                </div>
                <div class="col-sm-4">
                    <label>Precio:</label>
                    <span>${{ producto.precio}}</span>
                </div>
            </div>
            <a href="{{ path('producto_edit', { 'id': producto.id }) }}" class="btn btn-success" style="margin-top:20px">Editar</a>
            <a href="{{ path('producto_index') }}" class="pull-right btn btn-warning" style="margin-top:20px">Regresar al listado</a>

        </div>
    </div>
    <div class="col-md-1"></div>
    {#{ form_start(delete_form) }}
        <input type="submit" value="Delete">
    {{ form_end(delete_form) }#}

{% endblock %}
