{% trans_default_domain 'FOSUserBundle' %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Entrar al sistema</h3>
            <div class="well">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input class="form-control"  type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="password">Constraseña</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">Recordar</label>
                    </div>
                    <input type="submit" id="_submit" name="_submit" class="btn btn-success" value="Entrar" />
                </form>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>