{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facturas</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Folio Pedido</th>
                <th>Cliente</th>
                <th>Folio</th>
                <th>Fecha</th>
                <th>Descargar</th>
            </tr>
        </thead>
        <tbody>
        {% for factura in facturas %}
            <tr>
                <td>{{ factura.pedido }}</td>
                <td>{{ factura.cliente }}</td>
                <td>{{ factura.folio }}</td>
                <td>{% if factura.fechaAlta %}{{ factura.fechaAlta|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <a href="{{asset('clientes/facturas/')}}{{factura.nombre}}" class="btn btn-danger"> <i class="glyphicon glyphicon-download"></i>Descargar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-info"href="{{ path('factura_new') }}">Nueva factura</a>
        </li>
    </ul>
{% endblock %}
