{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Alta Factura</h1>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 well">
    <div class="row">
      {{ form_start(form) }}
      <div class="col-sm-4">
          <label for="">Cliente</label><br>
          {{ form_widget(form.cliente)}}
      </div>
      <div class="col-sm-4">
          <label for="">Pedido</label><br>
          {{ form_widget(form.pedido)}}
      </div>
      <div class="col-sm-4">
          {{ form_row(form.folio)}}
      </div>
      <div class="col-sm-4">
          {{ form_row(form.fichero)}}
      </div>
    </div>
          <input type="submit" class="btn btn-success" value="Guardar" style="margin-top:20px" />
  </div>
  <div class="col-sm-2"></div>
</div>

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('factura_index') }}" class="pull-right">Regresar al listado</a>
        </li>
    </ul>
{% endblock %}
