<!DOCTYPE html>
<html>
<head>
    <title>Sistema gestion Reconverpack</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/bootstrap/bootstrap.css')}}" />
    </head>
<body>
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
        {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>

    {% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
    <div class="{{ type }}">
        {{ message|trans({}, 'FOSUserBundle') }}
    </div>
    {% endfor %}
    {% endfor %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
</body>
</html>
