{% extends 'base.html.twig' %}

{% block body %}
    <h1>Precio por producto</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Precio</th>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for precioProdCliente in precioProdClientes %}
            <tr>
                <td><a href="{{ path('precioprodcliente_show', { 'id': precioProdCliente.id }) }}">{{ precioProdCliente.id }}</a></td>
                <td>{{ precioProdCliente.precio }}</td>
                <td>{{ precioProdCliente.cliente }}</td>
                <td>{{ precioProdCliente.producto }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-danger btn-xs" href="{{ path('precioprodcliente_edit', { 'id': precioProdCliente.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('precioprodcliente_new') }}" class="btn btn-info">Nuevo Precio </a>
        </li>
    </ul>
{% endblock %}
