{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Precio de producto para cliente</h1>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 well">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-success" value="Guardar"style="margin-top:20px"  />
        {{ form_end(form) }}
        <a href="{{ path('precioprodcliente_index') }}" class="pull-right">Regresar al listado</a>

      </div>
      <div class="col-sm-3"></div>
    </div>
{% endblock %}
