{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cotizaciones</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombrecliente</th>
                <th>Emailcliente</th>
                <th>Telefonocliente</th>
                <th>Fechacreada</th>
                <th>Descuento</th>
                <th>Total</th>
                <th>Observaciongeneral</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cotizacion in cotizacions %}
            <tr>
                <td><a href="{{ path('cotizacion_show', { 'id': cotizacion.id }) }}">{{ cotizacion.id }}</a></td>
                <td>{{ cotizacion.nombreCliente }}</td>
                <td>{{ cotizacion.emailCliente }}</td>
                <td>{{ cotizacion.telefonoCliente }}</td>
                <td>{% if cotizacion.fechaCreada %}{{ cotizacion.fechaCreada|date('Y-m-d') }}{% endif %}</td>
                <td>{{ cotizacion.descuento }}</td>
                <td>{{ cotizacion.total }}</td>
                <td>{{ cotizacion.observacionGeneral }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cotizacion_show', { 'id': cotizacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cotizacion_edit', { 'id': cotizacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cotizacion_new') }}">Create a new cotizacion</a>
        </li>
    </ul>
{% endblock %}
