{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        ul.tags li label {
            display: block;
        }

        ul.tags li select {
            margin-bottom: 20px;
        }

        ul.tags li textarea {
            width: 20%;
            height: 80px;
            padding: 6px 12px;
            font-size: 14px;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 20px;
        }

        ul.tags li input {
            display: block;
            width: 20%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    </style>
    <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="btn btn-sm btn-info">Agregar producto</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        jQuery(document).ready(function () {
            var cantidades = [];
            var precios = [];
            $(document).on('change', 'input[id*="cantidad"]', function () {
                cantidades.push(parseInt($(this).val()));
            });
            $(document).on('change', 'select[id*="cotizacion_producto"]', function () {
                var producto = $(this).val();
                $.ajax({
                    url: '/producto/obtener/precio/' + producto,
                    success: function (response) {
                        if (response.rc === 0) {
                            precios.push(response.precio);
                        }
                    }
                })
            });

            $('#btnTotal').on('click', function () {
                console.log(cantidades)
                console.log(precios)
                var total = 0;
                var valor = 0;
                for (var i = 0; i < cantidades.length; i++) {
                    valor = cantidades[i] * precios[i];
                    total += valor;
                }
                var descuento = $('#reconverpackbundle_cotizacion_descuento').val();
                if (descuento !== "") {
                    var cifra_descuento = (total * descuento) / 100;
                    total = total - cifra_descuento;
                }
                $('#total').html(total);
                $('#reconverpackbundle_cotizacion_total').val(total);
                $('#txtTotal').html('Total:$' + total);
            });
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.tags');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });

            function addTagForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
            }
        });
    </script>
{% endblock %}
{% block body %}
    <h1>Crear cotizacion</h1>
    <div class="well    ">
        {{ form_start(form) }}
        {{ form_row(form.nombreCliente) }}
        {{ form_row(form.emailCliente) }}
        {{ form_row(form.telefonoCliente) }}
        {{ form_row(form.descuento) }}
        {{ form_row(form.total) }}
        {{ form_row(form.observacionGeneral) }}

        <label for="producto">Producto</label>
        <ul class="tags" data-prototype="{{ form_widget(form.producto.vars.prototype)|e('html_attr') }}"></ul>

        <input type="submit" value="Enviar" class="btn btn-success" style="margin-top: 15px"/>
        <div class="btn btn-warning" id="btnTotal" style="margin-top: 15px">Cotizar</div>
        <div id="txtTotal" class="alert alert-success" style="margin-top: 15px"></div>

        {{ form_end(form) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('cotizacion_index') }}">Regresar al listado</a>
        </li>
    </ul>
{% endblock %}
