{% extends 'base.html.twig' %}

{% block body %}
    <h3  class="alert alert-success text-center">Cotización enviada con éxito</h3>
    <ul>
        <li>
            <a href="{{ path('cotizacion_new') }}">Regresar</a>
        </li>
        <li>
    </ul>
{% endblock %}
