{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Editar Bobina</h1>

    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            {% block errors %} {% set form = edit_form %}{{ parent() }} {% endblock %}
            <div class="row">
                <div class="col-md-4">
                    <label for="">Medida</label><br>
                    {{ form_widget(edit_form.medida) }}
                </div>
                <div class="col-md-4">
                    <label for="">Peso</label><br>
                    {{ form_widget(edit_form.peso) }}
                </div>
                <div class="col-md-4">
                    <label for="">Lote</label><br>
                    {{ form_widget(edit_form.lote) }}
                </div>  
            </div>
            <input type="submit" class="btn btn-success" value="Editar" style="margin-top:20px" />
            {{ form_end(edit_form) }}
            <a href="{{ path('bobina_index') }}"class="pull-right btn btn-warning" style="margin-top:20px">Regresar al listado</a>
        </div>
        <div class="col-md-2"></div>
    </div>

    {#{ form_start(delete_form) }}
        <input type="submit" value="Delete">
    {{ form_end(delete_form) }#}

{% endblock %}
