{% extends 'base.html.twig' %}

{% block body %}
    <h3>Listado bobinas</h3>

    <div>
        <a class="btn btn-info"href="{{ path('bobina_new') }}" style="margin-bottom: 20px;">Nueva bobina</a>
    </div>
    <table class="table table-striped table-bordered data-table">
        <thead>
            <tr>
                <th>Número</th>
                <th>Lote</th>
                <th>Medida</th>
                <th>Peso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for bobina in pagination %}
                <tr>
                    {#<td><a href="{{ path('bobina_show', { 'id': bobina.id }) }}">{{ bobina.numero }}</a></td>#}
                    <td>{{ bobina.numero }}</td>
                    <td><a href="{{ path('lote_show', { 'id': bobina.lote.id }) }}">{{ bobina.lote }}</a></td>
                    <td>{{ bobina.medida }}</td>
                    <td>{{ bobina.peso }}</td>
                    <td>
                        <ul>
                            <li>
                                <a class="btn btn-danger btn-xs"href="{{ path('bobina_edit', { 'id': bobina.id }) }}">Editar</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
