{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bobina</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bobina.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ bobina.numero }}</td>
            </tr>
            <tr>
                <th>Medida</th>
                <td>{{ bobina.medida }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ bobina.peso }}</td>
            </tr>
            <tr>
                <th>Lote</th>
                <td>{{ bobina.lote }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bobina_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bobina_edit', { 'id': bobina.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
