{% extends 'base.html.twig' %}

{% block body %}
    <h3>Listado Materia Prima</h3>

    <div>
        <a class="btn btn-info"  href="{{ path('materiales_new') }}" style="margin-bottom: 20px">Nueva Materia Prima</a>
    </div>
    <table class="table table-bordered table-striped data-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for material in pagination %}
            <tr>
                <td><a href="{{ path('materiales_show', { 'id': material.id }) }}">{{ material.nombre }}</a></td>
                <td>{{ material.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('materiales_edit', { 'id': material.id }) }}" class="btn btn-danger btn-xs">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
