{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Nueva Materia Prima</h2>
        {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Nombre</label><br>
                        {{ form_widget(form.nombre) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Descripión</label><br>
                        {{ form_widget(form.descripcion) }}
                    </div>
                </div>
            </div>
            <input style="margin-top: 20px;" class="btn btn-success" style="margin-top:20px" type="submit" value="Guardar" />
            <a href="{{ path('materiales_index') }}" class="pull-right btn btn-warning" style="margin-top:20px">Regresar al listado</a>
        </div>
        <div class="col-md-2"></div>
    </div>
    {{ form_end(form) }}
{% endblock %}
