{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Materia Prima</h1>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 well">
            <div class="row">
                <div class="col-sm-4">
                    <label>Nombre:</label>
                    <span>{{ material.nombre }}</span>
                </div>
                <div class="col-sm-4">
                    <label>Descripción:</label>
                    <span>{{ material.descripcion }}</span>
                </div>
            </div>

            <a href="{{ path('materiales_edit', { 'id': material.id }) }}" class="btn btn-success" style="margin-top:20px">Editar</a>
            <a href="{{ path('materiales_index') }}" class="pull-right btn btn-warning" style="margin-top:20px">Regresar al listado</a>

        </div>
    </div>
    <div class="col-md-1"></div>

    {#{ form_start(delete_form) }}
        <input type="submit" value="Delete">
    {{ form_end(delete_form) }#}

{% endblock %}
