{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productopedidos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productoPedido in productoPedidos %}
            <tr>
                <td><a href="{{ path('productopedido_show', { 'id': productoPedido.id }) }}">{{ productoPedido.id }}</a></td>
                <td>{{ productoPedido.cantidad }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('productopedido_show', { 'id': productoPedido.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('productopedido_edit', { 'id': productoPedido.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productopedido_new') }}">Create a new productoPedido</a>
        </li>
    </ul>
{% endblock %}
