{% extends 'base.html.twig' %}

{% block body %}
    <h3>Listado insumos</h3>
    <div>
        <a class="btn btn-info" href="{{ path('insumos_new') }}" style="margin-bottom: 20px">Nuevo insumo</a>
    </div>
    <table class="table table-bordered table-striped data-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for insumo in pagination %}
                <tr>
                    <td><a href="{{ path('insumos_show', { 'id': insumo.id }) }}">{{ insumo.nombre }}</a></td>
                    <td>{{ insumo.cantidad }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('insumos_edit', { 'id': insumo.id }) }}" class="btn btn-danger btn-xs">Editar</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
