{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Insumo</h1>
    
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 well">
            <div class="row">
                <div class="col-sm-4">
                    <label>Nombre:</label>
                    <span>{{ insumo.nombre }}</span>
                </div>
                <div class="col-sm-4">
                    <label>Cantidad:</label>
                    <span>{{ insumo.cantidad }}</span>
                </div>
            </div>

            <a href="{{ path('insumos_edit', { 'id': insumo.id }) }}" class="btn btn-success" style="margin-top:20px">Editar</a>
            <a href="{{ path('insumos_index') }}" class="pull-right btn btn-warning" style="margin-top:20px">Regresar al listado</a>

        </div>
    </div>
    <div class="col-md-1"></div>

            {#{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }#}
{% endblock %}
