{% extends '::base.html.twig' %}

{% block body -%}
<legend>
    <h1>Editando Role</h1>
</legend>
    

    {{ form(edit_form) }}

        <div class="btn-group">
    <a class="btn btn-warning" href="{{ path('admin_role') }}">
        <span class="glyphicon glyphicon-list"></span>Listado
    </a>

        <li class="pull-right">{{ form(delete_form) }}</li>
    <div class="clearfix"></div>

{% endblock %}
