{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Editar Orden de Producción</h1>

    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            {% block errors %} {% set form = edit_form %}{{ parent() }} {% endblock %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" style="margin-top:20px">
                        <label for="estado">Estado</label>
                        {{ form_widget(edit_form.estado) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="cantidadProdTerminado">Cant. prod. terminado</label>
                        {{ form_widget(edit_form.cantidadProdTerminado) }}
                    </div>
                </div>
            </div>


            <input type="submit" value="Edit" class="btn btn-success" style="margin-top:20px"/>

            {{ form_end(edit_form)}}

            <a href="{{ path('ordenproduccion_index') }}" class="pull-right btn btn-warning"style="margin-top:20px">Regresar al listado</a>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
