{% extends 'base.html.twig' %}

{% block body %}
    <h3>Listado Ordenes de producción</h3>

    <table class="table table-bordered table-striped data-table">
        <thead>
            <tr>
                <th>Folio</th>
                <th>Pedido</th>
                <th>Producto</th>
                <th>Cantidad a producir</th>
                <th>Estado</th>
                <th>Fecha solicitado</th>
                <th>Fecha terminado</th>
                <th>Cant. prod. terminado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ordenProduccion in pagination %}
                <tr>
                    <td><a href="{{ path('ordenproduccion_show', { 'id': ordenProduccion.id }) }}">{{ ordenProduccion.folio }}</a></td>
                    <td><a href="{{ path('pedido_show', { 'id': ordenProduccion.pedido.id }) }}">{{ ordenProduccion.pedido.folio }}</a></td>
                    <td>-{{ ordenProduccion.productoPedido.producto }}
                        <span class="label label-success">
                      {{ ordenProduccion.productoPedido.cantidad }}
                    </span></td>
                    <td>-{{ ordenProduccion.productoPedido.producto }}
                        <span class="label label-danger">
                      {{ ordenProduccion.cantidadProducir }}
                    </span></td>
                    <td>{{ ordenProduccion.estado }}</td>
                    <td>{% if ordenProduccion.fechaSolicitado %}{{ ordenProduccion.fechaSolicitado|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if ordenProduccion.fechaTerminado %}{{ ordenProduccion.fechaTerminado|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ ordenProduccion.cantidadProdTerminado }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Acciones <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('ordenproduccion_show', { 'id': ordenProduccion.id }) }}">ver</a>
                                </li>
                                <li>
                                    <a href="{{ path('ordenproduccion_edit', { 'id': ordenProduccion.id }) }}">editar</a>
                                </li>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <ul>
        <li>
            {#<a href="{{ path('ordenproduccion_new') }}">Create a new ordenProduccion</a>#}
        </li>
    </ul>
{% endblock %}
