{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Orden de producción</h1>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            <div class="row">
                <div class="col-sm-4">
                    <label>Folio de la orden:</label>
                    <span>{{ ordenProduccion.folio }}</span>
                </div>
                <div class="col-sm-4">
                    <label>Cant. a producir:</label>
                    <span>{{ ordenProduccion.cantidadProducir }}</span>
                </div>

                <div class="col-sm-4">
                    <label>Estado:</label>
                    <span>{{ ordenProduccion.estado }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Fecha solicitado:</label>
                    <span>{% if ordenProduccion.fechaSolicitado %}{{ ordenProduccion.fechaSolicitado|date('Y-m-d') }}{% endif %}</span>
                </div>
                <div class="col-sm-4">
                    <label>Fecha terminado:</label>
                    <span>{% if ordenProduccion.fechaTerminado %}{{ ordenProduccion.fechaTerminado|date('Y-m-d') }}{% endif %}</span>
                </div>

                <div class="col-sm-4">
                    <label>Cant. prod. terminado:</label>
                    <span>{{ ordenProduccion.cantidadProdTerminado }}</span>
                </div>
            </div>

            <a href="{{ path('ordenproduccion_edit', { 'id': ordenProduccion.id }) }}" class="pull-left btn btn-success" style="margin-top:20px">Editar</a>

            <a href="{{ path('ordenproduccion_index') }}" class="pull-right btn btn-warning"style="margin-top:20px">Regresar al listado</a>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
