{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Editar Lote</h2>

    {{ form_start(edit_form) }}
         <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            {% block errors %} {% set form = edit_form %}{{ parent() }} {% endblock %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">No. Lote</label><br>
                        {{ form_widget(edit_form.numLote) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Tipo de material</label><br>
                        {{ form_widget(edit_form.tipoMaterial) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Nombre de proveedor</label><br>
                        {{ form_widget(edit_form.nombreProveedor) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Medidas</label><br>
                        {{ form_widget(edit_form.medidas) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Tiene poli</label><br>
                        {{ form_widget(edit_form.tienePoli) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Puntos</label><br>
                        {{ form_widget(edit_form.puntos) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Fecha Alta</label><br>
                        {{ form_widget(edit_form.fechaAlta) }}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="">Observaciones</label><br>
                        {{ form_widget(edit_form.observacion) }}
                    </div>
                </div>
            </div>
            <input style="margin-top: 20px;" class="btn btn-success" type="submit" value="Editar" />
            <a href="{{ path('lote_index')}}" class="pull-right btn btn-warning" style="margin-top: 20px;">Regresar al listado</a>
        </div>
        <div class="col-md-2"></div>
    </div>
    {{ form_end(edit_form) }}

            {#{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }#}

{% endblock %}
