{% extends 'base.html.twig' %}

{% block body %}
    <h3>Listado lotes</h3>
    
    <div>
        <a class="btn btn-info" href="{{ path('lote_new') }}" style="margin-bottom: 20px">Nuevo lote</a>
    </div>

    <table class="table table-bordered table-striped data-table">
        <thead>
            <tr>
                <th>No. lote</th>
                <th>Tipo material</th>
                <th>Nombre proveedor</th>
                <th>Medida</th>
                <th>Tiene poli</th>
                <th>Puntos</th>
                <th>Fecha Alta</th>
                <th>Observacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for lote in pagination %}
            <tr>
                <td><a href="{{ path('lote_show', { 'id': lote.id }) }}">{{ lote.numLote }}</a></td>
                <td>{{ lote.tipoMaterial }}</td>
                <td>{{ lote.nombreProveedor }}</td>
                <td>{{ lote.medidas }}</td>
                <td>{% if lote.tienePoli %}Si{% else %}No{% endif %}</td>
                <td>{{ lote.puntos }}</td>
                <td>{{ lote.fechaAlta|date('Y-m-d H:i:s') }}</td>
                <td>{{ lote.observacion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lote_edit', { 'id': lote.id }) }}" class="btn btn-danger btn-xs">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            
        </li>
    </ul>
{% endblock %}
