{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Nuevo Lote</h2>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            {% block errors %} {{ parent() }} {% endblock %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">No. Lote</label><br>
                        {{ form_widget(form.numLote) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Tipo de material</label><br>
                        {{ form_widget(form.tipoMaterial) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Nombre de proveedor</label><br>
                        {{ form_widget(form.nombreProveedor) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Medidas</label><br>
                        {{ form_widget(form.medidas) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Tiene poli</label><br>
                        {{ form_widget(form.tienePoli) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Puntos</label><br>
                        {{ form_widget(form.puntos) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Fecha Alta</label><br>
                        {{ form_widget(form.fechaAlta) }}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="">Observaciones</label><br>
                        {{ form_widget(form.observacion) }}
                    </div>
                </div>
            </div>
            <input style="margin-top: 20px;" class="btn btn-success" type="submit" value="Guardar" />
            <a href="{{ path('lote_index')}}" class="pull-right btn btn-warning" style="margin-top: 20px;">Regresar al listado</a>
        </div>
        <div class="col-md-2"></div>
    </div>
    {{ form_end(form) }}
{% endblock %}
