{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Lote</h1>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 well">
            <div class="row">
                <div class="col-sm-4">
                    <label>No. Lote:</label>
                    <span>{{ lote.numLote }}</span>
                </div>
                <div class="col-sm-4">
                    <label>Tipo de material:</label>
                    <span>{{ lote.tipoMaterial }}</span>
                </div>
                <div class="col-sm-4">
                    <label>Nombre de proveedor:</label>
                    <span>{{ lote.nombreProveedor}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Medidas:</label>
                    <span>{{ lote.medidas }}</span>
                </div>
                <div class="col-sm-4">
                    <label>TIene poli:</label>
                    <span>{% if lote.tienePoli %}Si{% else %}No{% endif %}</span>
                </div>
                <div class="col-sm-4">
                    <label>Puntos:</label>
                    <span>{{ lote.puntos}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Fecha alta:</label>
                    <span>{{ lote.fechaAlta|date('Y-m-d H:i:s') }}</span>
                </div>
                <div class="col-sm-8">
                    <label>Observaciones:</label>
                    <span>{{ lote.observacion}}</span>
                </div>
            </div>
            <a href="{{ path('lote_edit', { 'id': lote.id }) }}" class="btn btn-success" style="margin-top:20px">Editar</a>
            <a href="{{ path('lote_index') }}" class="pull-right btn btn-warning" style="margin-top:20px">Regresar al listado</a>

        </div>
    </div>
    <div class="col-md-1"></div>
    {#{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }#}
{% endblock %}
