{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mermas</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha Alta</th>
                <th>Operador</th>
                <th>Cantidad</th>
                <th>Bobina</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for merma in mermas %}
            <tr>
                <td><a href="{{ path('merma_show', { 'id': merma.id }) }}">{{ merma.id }}</a></td>
                <td>{{ merma.fechaAlta|date('d-M-Y') }}</td>
                <td>{{ merma.operador }}</td>
                <td>{{ merma.cantidad }}</td>
                <td>{{ merma.bobina }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-xs btn-danger"  href="{{ path('merma_edit', { 'id': merma.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('merma_new') }}" class="btn btn-info">Nueva merma</a>
        </li>
    </ul>
{% endblock %}
