{% extends 'base.html.twig' %}

{% block body %}
    <h1>Merma</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ merma.id }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ merma.cantidad }}</td>
            </tr>
            <tr>
                <th>Producto</th>
                <td>{{ merma.producto }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('merma_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('merma_edit', { 'id': merma.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
